# copy this file to .env.local to start dev

NODEGET_CONFIG='{
  "user_preferences":{
    "site_name": "NodeGet Status",
    "site_logo": "",
    "footer": "Powered by NodeGet"
  },
  "site_tokens": [
    {
      "name": "master server node 1",
      "backend_url": "wss://tries-scott-amino-fort.trycloudflare.com/nodeget/rpc",
      "token": "J0qRSxHAXZpUezB6:DGpHEKdapQ9GMSOKUHLmWvG2Qu3AJP49"
    }
  ]
}'